:root {
	--light: #e5e5e5;
	--dark: #2e2e2e;
	--link-light: #fd12fd;
	--link-dark: #00bfff;
	--nsfw-light: #dc143c;
	--nsfw-dark: #ff0000;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', 'Times New Roman', serif;
	background-color: #0d1117;
	color: var(--light);
}

.squeeze {
	max-width: 1000px;
	margin: 0 auto;
}

header {
	background-color: #283050;
	position: sticky;
	top: 0;
}

footer {
	background-color: #4f2843;
}

nav a {
	margin-right: 15px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

figure {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

figure figcaption {
	font-size: small;
}

header, footer, main {
	color: var(--light);
}

#lights, #lights + label {
	float: right;
	position: sticky;
	top: 0;
	margin-right: 0;
	height: 5vh;
	width: 5vh;
	z-index: 1;
}

#lights, .filters {
	display:none;
}

#lights + label {
	display: inline-block;
	background-image: url("img/moon.svg");
	background-size: 3vh;
	background-position: center;
	background-repeat: no-repeat;
}

#lights:checked + label {
	background-image: url("img/sun.svg");
}

#lights:checked ~ main {
	background-color: var(--light);
	color: var(--dark);
}

#lights:checked ~ main a {
	color: var(--link-light);
}

#lights:checked ~ main h1 {
	background-color: var(--dark);
	color: var(--light);
}

#lights:checked ~ main .nsfw {
	color: var(--nsfw-light);
}

main a {
	color: var(--link-dark);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	background-color: var(--light);
	color: var(--dark);
	padding: 5px;
	text-align: center;
}

header, footer {padding: 0 10px;}

main {
	padding: 10px;
	clear: both;
	margin-bottom: 0;
	min-height: 90vh;
	background-color: var(--dark);
}


header, footer {
	min-height: 5vh;
	line-height: 5vh;
}

footer {
	text-align: center;
}

p {
	line-height: 25px;
}

.nsfw {
	color: var(--nsfw-dark);
}

#posts {
	display: flex;
	margin: 10px 0;
}

#tags {
	width: 20%;
}

#results {
	width: 80%;
}

#tags label {
	font-weight: bold;
	cursor: pointer;
	display:block;
	width: 100px;
	margin-bottom: 5px;
}

#results small::before {
	content: "tags: ";
}

#fluff:checked ~ #results div:not(.fluff),
#media:checked ~ #results div:not(.media),
#opinion:checked ~ #results div:not(.opinion),
#technology:checked ~ #results div:not(.technology)
{
	display: none;
}

#fluff:checked ~ #tags label[for="fluff"],
#media:checked ~ #tags label[for="media"],
#opinion:checked ~ #tags label[for="opinion"],
#technology:checked ~ #tags label[for="technology"]
{
	background-color: #2e8b57;
}

img.me {
	margin: 15px 10px 0 0;
}

@media screen and (max-width: 700px) {
	img.me {
		margin: 15px auto 0 auto;
	}

	div, #posts {
		flex-direction: column;
	}

	#tags {
		display: flex;
	}

	#tags label {
		margin-left: 10px;
	}

	figure img {
		max-width: 100%;
		height: auto;
	}
}
