* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #0d1117;
	color: #f3f3f3;
	font-family: 'Noto Serif', 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	color: #6495ed;
	text-decoration: none;
}

.copyleft {
	display: inline-block;
	transform: scale(-1, 1);
}

header, footer {
	height: 4vh;
	line-height: 4vh;
}

header {
	background-color: #283050;
	font-weight: 700;
}

header > div {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

header a {
	color: inherit;
}

main {
	min-height: 92vh;
	padding: 10px;
}

footer {
	background-color: #4f2843;
	text-align: center;
}

.squeeze {
	max-width: 1000px;
	margin: 0 auto;
}

.date {
	font-size: small;
}

#topnav p {
	margin: 0 0 0 10px;
	display: inline-block;
	color: #f3f3f3;
}

#navcheck, #navbutton, #soc_links {
	display: none;
}

#bio {
	background-color: #002c2c;
	padding: 15px;
	display: grid;
	grid-template:
		"img name"
		"img email"
		"img blurb";
	grid-template-columns: auto 1fr;
}

#bio h1 {
	grid-area: name;
	white-space: nowrap;
}

a.email {
	grid-area: email;
	font-size: 90%;
	white-space: nowrap;
}

a.email::before {
	content: "📧 ";
}

#bio .dp {
	grid-area: img;
	margin-right: 10px;
}

#bio .blurb {
	grid-area: blurb;
	font-size: small;
}

#lights:checked ~ article, #lights:checked ~ article p {
	background-color: #e5e5e5;
	color: #2e2e2e;
}

#lights:checked ~ article h1, #lights:checked ~ article h2, #lights:checked ~ article h3, #lights:checked ~ article h4, #lights:checked ~ article h5, #lights:checked ~ article h6 {
	color: #0c0c0c;
}

#lights:checked ~ article a {
	color: #0000cd;
}

.post_preview {
	margin: 10px auto;
}

.post_preview:last-of-type {
	margin-bottom: 0;
}

.post, .post_preview {
	padding: 15px;
	background-color: #2e2e2e;
}

.post_preview a.read_more {
	display: block;
	border: 1px solid #6495ed;
	color: inherit;
	padding: 3px;
	margin-top: 10px;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	font-size: small;
}

.post_preview span {
	color: #aeaeae;
	font-size: small;
}

figure {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

figure figcaption {
	font-size: small;
}

article > section, #lights {
	margin-bottom: 10px;
}

section > section {
	padding-left: 10px;
}

#contact {
	list-style-position: inside;
	padding: 0;
}

#contact li {
	margin: 10px auto;
}

#monero_wallet {
	margin-top: 10px;
	display: block;
	width: fit-content;
	font-family: 'Courier New', monospace;
	inline-size: 19ch;
	overflow-wrap: break-word;
	font-size: large;
}

@media screen and (max-width: 700px) {
	#topnav {
		position: absolute;
		left: 0;
		transform: translateX(-150%);
		display: block;
		flex-direction: column;
		top: 4vh;
		transition: transform .25s ease-in-out;
		background-color: #283050;
		width: 100vw;
		height: 96vh;
		text-align: center;
	}

	#topnav p {
		display: block;
		font-size: 4vh;
		margin: 4vh 0;
		line-height: 4vh;
	}

	#navcheck, #navbutton {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 4vh;
		width: 4vh;
		margin: 0;
	}

	#navbutton {
		background-image: url("img/nav_open.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	#navcheck {
		cursor: pointer;
		z-index: 1;
		opacity: 0;
	}

	input#navcheck:checked ~ #topnav {
	  transform: translate(0);
	}

	input#navcheck:checked ~ #navbutton {
		background-image: url("img/nav_close.svg");
	}

	#soc_links {
		display: initial;
	}

	#soc_links a {
		margin: 0 5px;
	}

	figure img {
		max-width: 100%;
		height: auto;
	}
}
